<h1>{{title}}</h1>
<div ng-bind-html="body"></div>
<article-toggle articles="articles"></article-toggle>
<nested-application path="/padawan/application/NestedApplication" application="padawanApp"></nested-application>

